---
layout: page
title: Members
permalink: /members/
---

<div class="members">
  <table class="table">
  {% for member in site.data.members %}
    <tr>
      <td>{{ member.name }}</td>
      <td>{{ member.title }}</td>
      <td class="member-github">
        {% if member.github_username %}
            <a href="https://github.com/{{ member.github_username }}">
              <span class="icon icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282" d="{{ site.data.svg_icons.github }}"/>
                </svg>
              </span>
              {{ site.github_username }}
              <span class="github-label">GitHub</span>
            </a>
        {% endif %}
      </td>
      <td class="member-website">
        {% if member.website %}
          <a href="{{ member.website }}">{{ member.website }}</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
</div>
