---
layout: tutorial
title: Tutorials
permalink: /tutorials/
---

<div class="tutorials">
  {% for category_hash in site.data.tutorials %}
    {% for category in category_hash %}
        <h1>{{ category.title }}</h1>
        <ul class="post-list">
          {% for tutorial in category.tutorials %}
            <h2>
              <li><a class="post-link" href="{{ tutorial.url }}">{{ tutorial.title }}</a></li>
            </h2>
            <span class="post-description">{{ tutorial.description }}</span>
          {% endfor %}
        </ul>

    {% endfor %}
  {% endfor %}
</div>
