---
layout: page
title: Tutorials
permalink: /tutorials/
---

<div class="tutorials">
  {% for category_hash in site.data.tutorials %}
    {% for category in category_hash %}
        <h1>{{ category.title }}</h1>
        <ul class="post-list">
          {% for tutorial in category.tutorials %}
            <li>
              <h2><a class="post-link" href="{{ tutorial.url }}">{{ tutorial.title }}</a></h2>
              <span class="post-content">{{ tutorial.description }}</span>
            </li>
          {% endfor %}
        </ul>
    {% endfor %}
  {% endfor %}
</div>
